body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


@media (min-width: 1200px) {

    
a.active
{
    color: #EA495F;
}
#brandTitle 
{
    text-decoration: none;
    z-index: 2;
    font-family: Raleway, sans-serif;
    background-color: #29363B;
    font-size: 1.5vw;
    padding-top: .75vw;
    padding-bottom: .75vw;
}
#Fl301
{
    margin-left: 4vw;
}
.topBar
{
    margin-right: 1vw;
    text-decoration: none;
    color: #e0e0e0;
    transition: 500ms;
}
.topBar:hover
{
    color: #FDCEA9;
}




    #homeBtn {
        position: fixed;
        bottom: 3vw;
        right: 3vw;
        height: 6vw;
        width: auto;
        -webkit-filter: drop-shadow(2px 2px 5px #29363b);
        filter: drop-shadow(2px 2px 5px #29363b);
        transition: .3s;
        box-shadow: none;
    }

    #homeBtn:hover {
        height: 6rem;
        width: auto;
    }

    #sideNav {
        display: block;
        background-color: #29363b;
        width: 0px;
        z-index: 1;
        position:fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        transition: 0.3s;
        overflow-x: hidden;
        box-shadow: 0px 0px 3px;
    }

    #sideNav ul {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        transition: 0.3s;
        padding-left: .5rem;
        overflow-x: hidden;
    }

    .nav-link {
        color: #fdcea9;
        transition: .5s;
    }

    .nav-link:hover {
        color: #EA495F;
    }

    #img1 {
        height: 2vw;
        position: fixed;
    }

    #img1:hover {
        cursor: pointer;
    }

    #sideNav .closebtn {
        color: #FDCEA9;
        text-decoration: none;
        font-size: 2vw;
        font-weight: bolder;
    }

    .top {
        background: fixed;
        background-size: cover;
        background-image: url("https://drive.google.com/uc?id=1SVQ4j-7hIe_D-hSNMxAqpzG7cuj2Rw7s");
    }

    .titleTop {
        font-family: righteous, sans-serif;
        font-size: 4vw;
        color: #EA495F;
        margin-left: 3vw;
        margin-top: 21px;
    }

    #name {
        margin-left: 3vw;
        font-size: 6vw;
        padding-top: -20px;
        font-family: righteous, sans-serif;
        color: #EA495F;
        white-space: initial;
        line-height: 120%;
        text-shadow: 2px 2px 5px #29363b;
    }

    #details p {
        margin-left: 3vw;
        margin-right: 3vw;
        font-size: 2vw;
        font-family: righteous, sans-serif;
        color: #FDCEA9;
        text-shadow: 0px 0px 5px #29363B;
        white-space: initial;
    }


    .dp {
        height: 35vw;
        margin-bottom: 3vw;
        margin-top: 3vw;
        border-radius: 2vw;
        border: solid;
        border-width: .5vw;
        border-color: #29363b;
        display: block;
        margin-right: auto;
        margin-left: auto;
        transition: .5s;
        box-shadow: 1px 1px 4px;
    }


    .actTitle1 {
        font-family: righteous, sans-serif;
        font-size: 4vw;
        color: #EA495F;
        margin-left: 5px;
        margin-top: .3vw;
        margin-bottom: .3vw;
    }

    .actText1 {
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2vw;
        font-size: 1.5vw;
        font-family: righteous, sans-serif;
        color: #29363B;
        text-align: right;
    }

    iframe {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 4vw;
        height: 40vw;
        width: 40vw;
        border-radius: 2vw;
        border: none;
        outline: none;
        background: #e0e0e0;
        box-shadow: 20px 20px 60px #bebebe,
            -20px -20px 60px #ffffff;
    }

    .vid {
        align-content: center;
        align-items: center;
    }

    .actText2 {
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2vw;
        font-size: 1.5vw;
        font-family: righteous, sans-serif;
        color: #FDCEA9;
        -webkit-text-stroke: .5px #29363B;
        text-shadow: 0px 0px 4px #29363B;
        text-align: left;
    }

    .imgAct {
        height: 40vw;
        width: auto;
        margin-bottom: 3vw;
        height: inherit;
        max-width: 750px;
        max-height: 575px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        border: none;
        outline: none;
        background: #e0e0e0;
        box-shadow: 20px 20px 60px #bebebe,
            -20px -20px 60px #ffffff;
    }



}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {

    
a.active
{
    color: #EA495F;
}
#brandTitle 
{
    text-decoration: none;
    z-index: 2;
    font-family: Raleway, sans-serif;
    background-color: #29363B;
    font-size: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}
#Fl301
{
    margin-left: 8vw;
}
.topBar
{
    margin-right: 2vw;
    text-decoration: none;
    color: #e0e0e0;
    transition: 500ms;
}
.topBar:hover
{
    color: #FDCEA9;
}




    #homeBtn {
        position: fixed;
        bottom: 10vw;
        right: 10vw;
        height: 12vw;
        width: auto;
        -webkit-filter: drop-shadow(2px 2px 5px #29363b);
        filter: drop-shadow(2px 2px 5px #29363b);
        transition: .3s;
        box-shadow: none;
    }

    #homeBtn:hover {
        height: 16vw;
        width: auto;
    }

    #sideNav {
        display: block;
        padding-bottom: 60px;
        background-color: #29363b;
        width: 0px;
        z-index: 1;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        transition: 0.3s;
        overflow-x: hidden;
        box-shadow: 0px 0px 3px;
    }

    #sideNav ul {
        font-family: Raleway, sans-serif;
        font-size: 24px;
        transition: 0.3s;
        padding-left: .8rem;
        overflow-x: hidden;
    }

    .nav-link {
        color: #fdcea9;
        transition: .5s;
    }

    .nav-link:hover {
        color: #EA495F;
    }

    #img1 {
        height: 4vw;
        position: fixed;
    }

    #img1:hover {
        cursor: pointer;
    }

    #sideNav .closebtn {
            color: #FDCEA9;
            text-decoration: none;
            font-size: 3.5vw;
            font-weight: bolder;
    }

    .top {
        width: 100%;
        background: fixed;
        background-size: cover;
        background-image: url("https://drive.google.com/uc?id=1SVQ4j-7hIe_D-hSNMxAqpzG7cuj2Rw7s");
    }

    .titleTop {
        font-family: righteous, sans-serif;
        font-size: 10vw;
        color: #EA495F;
        margin-left: 3vw;
        margin-top: 14vw;
    }

    #name {
        margin-left: 3vw;
        font-size: 10vw;
        padding-top: -20px;
        font-family: righteous, sans-serif;
        color: #EA495F;
        white-space: initial;
        line-height: 120%;
        text-shadow: 2px 2px 5px #29363b;
    }

    #details p {
        margin-left: 3vw;
        margin-right: 3vw;
        font-size: 4vw;
        font-family: righteous, sans-serif;
        white-space: initial;
        color: #FDCEA9;
        text-shadow: 0px 0px 4px #29363B;
    }


    .dp {
        width: 75%;
        margin-bottom: 6vw;
        margin-top: 3vw;
        border-radius: 2vw;
        border: solid;
        border-width: .5vw;
        border-color: #29363b;
        display: block;
        margin-right: auto;
        margin-left: auto;
        transition: .5s;
        box-shadow: 1px 1px 4px;
    }



    .actTitle1 {
        font-family: righteous, sans-serif;
        font-size: 8vw;
        color: #EA495F;
        margin-left: 5px;
        margin-top: .3vw;
        margin-bottom: 1vw;
    }

    .actText1 {
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2vw;
        font-size: 3vw;
        font-family: righteous, sans-serif;
        color: #29363B;
        text-align: center;
    }

    iframe {
        margin-right: 10;
        margin-left: 7vw;
        margin-top: 4vw;
        margin-bottom: 4vw;
        height: 80vw;
        width: 80vw;
        border-radius: 2vw;
        border: none;
        outline: none;
        
        background: #e0e0e0;
        box-shadow: 20px 20px 60px #bebebe,
            -20px -20px 60px #ffffff;
    }

    .vid {
        align-items: center;
        align-self: center;
        text-align: center;
    }

    .imgAct {
        height: 40vw;
        width: auto;
        margin-bottom: 3vw;
        height: inherit;
        max-width: 287.5px;
        max-height: 375px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        border: none;
        outline: none;
        background: #e0e0e0;
        box-shadow: 20px 20px 60px #bebebe,
            -20px -20px 60px #ffffff;
    }

    .actText2 {
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2vw;
        font-size: 3vw;
        font-family: righteous, sans-serif;
        color: #FDCEA9;
        -webkit-text-stroke: .5px #29363B;
        text-shadow: 0px 0px 4px #29363B;
        text-align: center;
    }

}